*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: overline;
    font-family: 'Roboto', sans-serif;
}
h1{
    background-color: rgb(96, 2, 173);
}

body{
    background-color: rgb(54, 47, 95);
}

