*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Verdana';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:rgb(27, 78, 172);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}